.Pokecard-img{
    width:250px;
    height:400px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 7px 10px 12px -5px rgb(0,0,0,0.56);
    padding: 10px;
    margin: 20px;
}